/* Import Typography System */
@import './typography.css';

:root {
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;
  color: #0A3D62;
  background-color: #f4f8fc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f4f8fc;
  color: inherit;
}

button {
  font: inherit;
}
